

  .film-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .film-details {
    margin-bottom: 20px;
  }
  
  .film-buttons {
    display: flex;
    gap: 10px;
  }
  