<h2>Ficha de Avaliçao</h2>

<div class="container">
  <form [formGroup]="avaliacaoForm" (ngSubmit)="onSubmit()">
    <label>
      Nome:
      <input type="text" formControlName="nome">
      <div *ngIf="avaliacaoForm.controls.nome.invalid && (avaliacaoForm.controls.nome.dirty || avaliacaoForm.controls.nome.touched)">
        <small>O nome deve ter pelo menos 3 caracteres e é obrigatório.</small>
      </div>
    </label>
    <br>
  
    <label>
      Email:
      <input type="email" formControlName="email">
      <div *ngIf="avaliacaoForm.controls.email.invalid && (avaliacaoForm.controls.email.dirty || avaliacaoForm.controls.email.touched)">
        <small>O email é inválido ou é um campo obrigatório.</small>
      </div>
    </label>
    <br>
  
    <label>
      Nome do Filme:
      <input type="text" formControlName="nomeFilme">
      <div *ngIf="avaliacaoForm.controls.nomeFilme.invalid && (avaliacaoForm.controls.nomeFilme.dirty || avaliacaoForm.controls.nomeFilme.touched)">
        <small>O nome do filme deve ter pelo menos 3 caracteres e é obrigatório.</small>
      </div>
    </label>
    <br>
  
    <label>
      Avaliação (1-10):
      <input type="number" formControlName="avaliacao">
      <div *ngIf="avaliacaoForm.controls.avaliacao.invalid && (avaliacaoForm.controls.avaliacao.dirty || avaliacaoForm.controls.avaliacao.touched)">
        <small>A avaliação é um campo obrigatório e deve estar entre 1 e 10.</small>
      </div>
    </label>
    <br>
    <div class="button-container">
      <button type="submit">Enviar</button>
      <button type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>
